<!--マイページ画面-->
<div class = "flash_message text-center text-primary"><%= flash[:primary] %></div>

<div class="container mypage-top">

  <div class="mypage-content">
    
    <div class="mypage-left">
      <h3 class="text-decoration-underline"><u><%= @user.nickname %>さんのマイページ</u></h3>
      <p class="text-small"><%= link_to @user.followings.count, user_followings_path(@user) %>フォロー <%= link_to @user.followers.count, user_followers_path(@user) %>フォロワー</p>
      <!--ログインユーザーのマイページ(右側)-->
      <% if user_signed_in? && current_user.id.to_s == params[:id] %>
        <div class="row">
          <h5 class="font-weight-bold col-4 align-self-center">会員情報</h5>
          <div class="col-8"><%= link_to "編集する", edit_user_path, class:"btn btn-outline-success" %></div>
        </div>
        
        <table class="table table-light col-md-12 mt-12 mypage-left-info">
          <tr>
            <td class="info border border-dark table-active">氏名</td>
            <td class="border border-dark"><%= @user.last_name %> <%= @user.first_name %></td>
          </tr>
          <tr>
            <td class="info border border-dark table-active">カナ</td>
            <td class="border border-dark"><%= @user.last_name_kana %>  <%= @user.first_name_kana %></td>
          </tr>
          <tr>
            <td class="info border border-dark table-active">ニックネーム</td>
            <td class="border border-dark"><%= @user.nickname %></td>
          </tr>
           <tr>
            <td class="info border border-dark table-active">メールアドレス</td>
            <td class="border border-dark"><%= @user.email %></td>
          </tr>
        </table>
      
      <!-- 他のユーザーのマイページ(右側) -->
      <% else %>
        <% if user_signed_in? %>
          <div class="row">
            <h5 class="font-weight-bold align-self-center page-header col-6" style="font-size: 19px;">フォローフォロワー関係</h5>
            <div class="col-6">
                <% if current_user.following?(@user) %>
                  <%= link_to "フォロー外す", user_relationships_path(@user.id), method: :delete, class:"btn btn-outline-danger" %>
                <% else %>
                  <%= link_to "フォローする", user_relationships_path(@user.id), method: :post, class:"btn btn-outline-primary" %>
                <% end %>
            </div>
          </div>
        <% end %>
        <table class="table table-light col-md-12 mt-12 mypage-left-info">
          <tr>
            <td class="info border border-dark table-active">ニックネーム</td>
            <td class="border border-dark"><%= @user.nickname %></td>
          </tr>
        </table>
        
      <% end %>
    </div>
    
    <div class="mypage-right">
      <!--ログインユーザーのマイページ(左側)-->
      <% if user_signed_in? && current_user.id.to_s == params[:id] %>
        <div class="row">
          <h5 class="font-weight-bold align-self-center page-header col-6">最新2件の投稿</h5>
          <div class="col-6"><%= link_to "全投稿を見る", posts_path(user_id: @user.id), class:"btn btn-outline-primary col-xs-3 offset-xs-3" %></div>
        </div>
        <ul class="list-group">
          <% @posts.each do |post| %>
            <li class="list-group-item">
              <span class="badge text-danger"><%= link_to "[詳細]", post_path(post.id) %></span>
              <%= @user.nickname %> | <%= post.title.truncate(5) %> | <%= post.comment.truncate(5) %>
              <i class="fas fa-tag"><%= post.tags.map(&:tag_name).join(', ') %></i>
              <i class="far fa-clock"><%= time_ago_in_words(post.created_at)+"前" %></i>
            </li>
          <% end %>
        </ul>
      
      <!-- 他のユーザーのマイページ(左側) -->
      <% else %>
        <div class="row">
          <h5 class="font-weight-bold align-self-center page-header col-6">最新2件の投稿</h5>
          <div class="col-6"><%= link_to "全投稿を見る", posts_path(user_id: @user.id), class:"btn btn-outline-primary col-xs-3 offset-xs-3 all-post" %></div>
        </div>
        <ul class="list-group">
          <% @posts.each do |post| %>
            <li class="list-group-item">
              <span class="badge text-danger"><%= link_to "[詳細]", post_path(post.id) %></span>
              <%= @user.nickname %> | <%= post.title.truncate(5) %> | <%= post.comment.truncate(5) %>
              <i class="fas fa-tag"><%= post.tags.map(&:tag_name).join(', ') %></i>
              <i class="far fa-clock"><%= time_ago_in_words(post.created_at)+"前" %></i>
            </li>
          <% end %>
        </ul>
        
      <% end %>
    </div>
  </div>
  
  <!--ログインユーザーのマイページ(下側)-->
  <% if user_signed_in? && current_user.id.to_s == params[:id] %>
    <h5 class="font-weight-bold align-self-center">ブックマーク一覧(1ページ<%= @bookmarks.count %>件表示)</h5>
    <%= paginate @bookmarks %>
    <table class="table table-hover">
      <thead>
        <tr>
          <th>ニックネーム</th>
          <th>タイトル</th>
          <th>コメント</th>
        </tr>
        </thead>
        <tbody>
          <% @bookmarks.each do |bookmark| %>
            <tr>
              <td><%= bookmark.post.user.nickname %></td>
              <td>
                <%= link_to post_path(bookmark.post) do %>
                  <%= bookmark.post.title %>
                <% end %>
              </td>
              <td><%= bookmark.post.comment.truncate(15) %></td>
            </tr>
          <% end %>
      </tbody>
    </table>
  <!-- 他のユーザーのマイページ(下側) -->
  <!--何も表示されない-->
  <% end %>
</div>