<div class="container">
  <!--<div class = "flash_message text-center text-success"><%#= flash[:success] %></div>-->
  <h3 class="text-decoration-underline"><u>マイページ</u></h3>
  <div class="row">
    <h5 class="font-weight-bold col-2 align-self-center">登録情報</h5>
    <div class="col-5"><%= link_to "編集する", edit_user_path, class:"btn btn-outline-success w-25" %></div>
  </div>

  <table class="table table-light col-md mt-3">
    <tr>
      <td class="info border border-dark table-active">氏名</td>
      <td class="border border-dark"><%= @user.last_name %> <%= @user.first_name %></td>
    </tr>
    <tr>
      <td class="info border border-dark table-active">カナ</td>
      <td class="border border-dark"><%= @user.last_name_kana %>  <%= @user.first_name_kana %></td>
    </tr>
    <tr>
      <td class="info border border-dark table-active">ニックネーム</td>
      <td class="border border-dark"><%= @user.nickname %></td>
    </tr>
     <tr>
      <td class="info border border-dark table-active">メールアドレス</td>
      <td class="border border-dark"><%= @user.email %></td>
    </tr>
  </table>
  <div class="row pt-3">
    <div class="col-2">
      <h5 class="font-weight-bold">投稿</h5>
    </div>
    <div class="col-5"><%= link_to "一覧を見る", posts_path, class:"btn btn-outline-primary col-xs-3 offset-xs-3" %></div>
  </div>
  <div class="row pt-3">
    <div class="col-2">
      <h5 class="font-weight-bold">フォロー</h5>
    </div>
    <div class="col-5"><%= link_to "一覧を見る", user_path, class:"btn btn-outline-primary col-xs-3 offset-xs-3" %></div>
  </div>
</div>