
<div class="bg-dark py-1">
  <div class="container px-4 px-lg-5 my-5">
    <div class="text-center text-white">
      <h1 class="display-4 fw-bolder font-top">Time Line</h1>
      <p class="lead fw-normal text-white-50 mb-0 font-top-2">あなたとフォローした人のコーディネート</p>
    </div>
  </div>
</div>

<div class="texts-wrapper">
  <div class="contents-title text-center">
    <div class="row">
      <% @posts.each do |post| %>
        <div class="col-12 col-md-6 col-lg-3">
          <div class="card card-scale_animation shadow-lg">
            <div class="card-in-bookmark">
              <%= link_to post_path(post.id) do %>
                <%= attachment_image_tag(post, :image, :fill, 300, 300, class:"card-img-top") %>
              <% end %>
              <div class="card-in-bookmark-btn">
                <div id="bookmark_button_<%= post.id %>">
                  <%= render "bookmarks/bookmark", post: post %>
                </div>
              </div>
            </div>
            <div class="card-body">
              <%= link_to user_path(post.user_id) do %>
                <h5 class="card-title"><%= post.user.nickname %></h5>
              <% end %>
              <h5 class="card-title"><%= post.title %></h5>
              <p class="card-text">
                <% post.tags.each do |tag| %>
                  <i class="fas fa-tag"><%= link_to tag.tag_name, search_tag_path(tag_id: tag.id) %><%= "(#{tag.posts.count})" %></i>
                <% end %>
              </p>
              <p><i class="far fa-clock"><%= time_ago_in_words(post.created_at)+"前" %></i></p>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>