<h1>タイムライン</h1>

<h3 class="page-header">投稿一覧</h3>
  <ul class="list-group">
    <% @posts.each do |post| %>
      <li class="list-group-item">
        <span class="badge text-danger"><%= link_to "[詳細]", post_path(post.id) %></span>
        <%= post.user.nickname %> | <%= post.title %> | <%= post.comment %>
        <i class="fas fa-tag"><%= post.tags.map(&:tag_name).join(', ') %></i>
      </li>
    <% end %>
  </ul>