<div class='container'>
  <p class="alert text-center text-danger"><%= alert %></p>
  <div class="row">
    <h3 class="col-12 text-center">ログイン</h3>
  </div>
  <div class='mx-auto row'>
    <div class="col-12">
      <h5 class = "pb-2 mb-3">会員の方はこちらからログイン</h5>
      <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
        <!-- メールアドレス入力欄 -->
        <div class="field mb-3">
          <%= f.label :メールアドレス, class: "col-3 offset-1" %>
          <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "form-control col-6 d-inline" %>
        </div>
        <!-- パスワード入力欄 -->
        <div class="field mb-3">
          <%= f.label :パスワード, class: "col-3 offset-1" %>
          <%= f.password_field :password, autocomplete: "current-password", class: "form-control col-6 d-inline" %>
        </div>
        <!-- 入力記憶チェック欄 -->
        <% if devise_mapping.rememberable? %>
          <div class="field mb-3">
            <%= f.check_box :remember_me, class: "offset-2" %>
            <%= f.label :入力情報を記憶する%>
          </div>
        <% end %>
        <!-- ログインボタン -->
        <div class="actions mb-3">
          <%= f.submit "ログイン", class: 'btn btn-primary col-2 offset-4'  %>
        </div>
      <% end %>
    </div>
  </div>
  <div class = "mx-auto row">
    <div class = "col-12">
      <h5 class = "pb-2 mb-3">会員登録がお済みでない方</h5>
      <%- if devise_mapping.registerable? && controller_name != 'registrations' %>
       <p><%= link_to "こちら", new_registration_path(resource_name) %> から新規登録を行ってください</p>
      <% end %>

    </div>
  </div>
</div>