<!-- 投稿編集画面 -->
<div class='container'>
  <div class='row'>
    <div class="col-11">
      <h4 class="row offset-1 my-5">投稿編集</h4>
      <%= form_with model:@post, url: edit_post_path, local: true do |f| %>
        <%= render 'layouts/error_messages', model: f.object %>
        
        <div class="row form-group">
          <%= f.label :コーディネート画像, class: "offset-2 col-3" %>
          <%= f.attachment_field :image %>
        </div>
        
        <div class="row form-group">
          <%= f.label :タイトル, class: "offset-2 col-3" %>
          <%= f.text_field :title, placeholder:"タイトル", class: 'form-control col-4' %>
        </div>
        
        <div class="row form-group">
          <%= f.label :コメント, class: "offset-2 col-3" %>
          <%= f.text_area :comment, placeholder:"ここにコメントを記述します", class: 'form-control col-4' %>
        </div>
        
        <div class="row form-group">
          <label class="offset-2 col-3">購入場所・リンク</label>
        </div>
        
        <div class="row form-group" style="margin-left: 40%;">
          <div class="nested-fields">
            <%= f.fields_for :sites do |site| %>
              <div class="nested-fields">
                <div class="mx-auto">
                  <div class="col-12"><%= site.select :info, options_for_select(Site.infos.map { |k, _v| [I18n.t("enums.site.info.#{k}"), k] }, site.object.info), {include_blank: "アイテムを選択して下さい"}, { class: 'form-control', data: {} } %></div>
                  <div class="col-12"><%= site.text_field :link, class: "form-control", placeholder: "購入サイトリンク or 店舗名を添付" %></div>
                  <div class="offset-1 col-5 px-0 w-auto">
                    <%= link_to_remove_association "削除", site, class: "btn btn-secondary btn-block" %>
                  </div>
                  </div>
                </div>
            <% end %>
          </div>
          
          <div id="detail-association-insertion-point"></div>
          
          <div>
            <%= link_to_add_association "+フォームを追加", f, :sites,
            class:"btn btn-secondary",
            data: {
              association_insertion_node: '#detail-association-insertion-point',
              association_insertion_method: 'after'
            } %>
          </div>
        </div>
        
        <div class="row form-group">
          <%= f.label"タグ (,で区切ると複数タグ登録できます)", class: "offset-2 col-3" %>
          <%= f.text_field :tag_name, value: @tag_list, class:"form-control col-4"%>
        </div>
        
        <div class="form-group">
          <%= f.submit "変更を保存する", class: 'btn btn-success btn100 offset-5' %>
        </div>
      <% end %>
    </div>
  </div>
</div>