<!-- コーディネート新規登録画面 -->
<div class='container'>
  <div class='row'>
    <div class="col-11">
      <h4 class="row offset-5 my-5"><u>コーディネート新規登録</u></h4>
      <%= form_with model: @post, url: new_post_path, local: true do |f| %>
      <%= render 'layouts/error_messages', model: f.object %> 

        <div class="row form-group">
          <%= f.label :コーディネート画像, class: "offset-2 col-3" %>
          <%= f.attachment_field :image %>
        </div>

        <div class="row form-group">
          <%= f.label :コーディネートタイトル, class: "offset-2 col-3" %>
          <%= f.text_field :title, placeholder:"コーディネートタイトル", class: 'form-control col-4' %>
        </div>

        <div class="row form-group">
          <%= f.label :コメント, class: "offset-2 col-3" %>
          <%= f.text_area :comment, placeholder:"コーディネートのポイント", class: 'form-control col-4' %>
        </div>
        
        <div class="row form-group">
          <label class="offset-2 col-3">購入場所・リンク</label>
        </div>
        
        <div class="row form-group" style="margin-left: 40%;">
          <div class="nested-fields">
            <%= f.fields_for :sites do |site| %>
              <%= render "posts/site_fields", f: site %>
            <% end %>
          </div>
          
          <div id="detail-association-insertion-point"></div>
          
          <div>
            <%= link_to_add_association "+フォームを追加", f, :sites,
            class:"btn btn-secondary",
            data: {
              association_insertion_node: '#detail-association-insertion-point',
              association_insertion_method: 'after'
            } %>
          </div>
        </div>
        
        <div class="row form-group">
          <%= f.label"タグ (,で区切ると複数タグ登録できます)", class: "offset-2 col-3" %>
          <%= f.text_field :tag_name, placeholder:"例(シャツ,春物,赤)", value: @tag_list, class:"form-control col-4"%>
        </div>

        <div class="form-group">
          <%= f.submit "新規登録", class: 'btn btn-success btn100 offset-5' %>
        </div>
      <% end %>
      
      <!--ここでプレビュー用のimgタグを準備。プレビューしてない時は出現しない。-->
        <img id="preview" style="width:40%; margin-left: 40%;">
        <script>
          $('#post_image').on('change', function (e) {
            var reader = new FileReader();
            reader.onload = function (e) {
                $("#preview").attr('src', e.target.result);
            }
            reader.readAsDataURL(e.target.files[0]);
        });
        </script>
    </div>
  </div>
</div>