<div class="container">
  <h5 style="margin-top: 10px;">タグが<%=@tag.tag_name%>の投稿一覧</h5>
  
  <!--タグリスト-->
  <p style="margin-bottom: auto; margin-top: 30px;">タグリスト(過去の投稿で使用されたタグ)</p>
  <% @tag_list.each do |list| %>
    <% if list.post_tags.count > 0 %>
      <%= link_to list.tag_name, search_tag_path(tag_id: list.id) %>
      <%= "(#{list.posts.count})" %>
    <% end %>
  <% end %>
  
  <div class="row" style="display: flex; margin-top: 30px;">
    <% @posts.each do |post| %>
      <div class="col-12 col-md-6 col-lg-3">
        <div class="card card-scale_animation shadow-lg">
          <%= link_to post_path(post.id) do %>
            <%= attachment_image_tag(post, :image, :fill, 300, 300, class:"card-img-top") %>
          <% end %>
          <div class="card-body">
            <p class="card-text">
              <% post.tags.each do |tag| %>
                <i class="fas fa-tag"><%= link_to tag.tag_name, search_tag_path(tag_id: tag.id) %></i>
              <% end %>
            </p>
            <p><i class="far fa-clock"><%= time_ago_in_words(post.created_at)+"前" %></i></p>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>


