<!--　投稿詳細画面 -->

<div class="text-success "><strong style="font-size: 20px;"><%= flash[:success] %></strong></div>

<div class="container post-detail">
  
  <div class="row">
    <div class="card shadow-lg">
      <div class="row no-gutters">
        
        <div class="col-6">
          <%= attachment_image_tag(@post, :image, :fill, 700, 700, class:"bd-placeholder-img", style: "width: 100%;") %>
        </div>
        
        <div class="col-6">
          <div class="card-body">
            <%= link_to user_path(@post.user_id) do %>
              <h3 class="card-nickname"><%= @post.user.nickname %></h3>
            <% end %>
            <h5 class="text-center card-title-ja">タイトル</h5>
            <p class="card-title"><%= @post.title %></p>
            <h5 class="text-center card-comment-ja">コメント</h5>
            <p class="card-comment"><%= @post.comment %></p>
            <h5 class="text-center card-tag-ja">タグ</h5>
            <p class="card-tag">
              <small class="text-muted">
                <% @post_tags.each do |tag| %>
                  <i class="fas fa-tag"><%= link_to tag.tag_name, search_tag_path(tag_id: tag.id) %><%= "(#{tag.posts.count})" %></i>
                <% end %>
              </small>
            </p>
            <h5 class="text-center card-site-ja">購入場所サイト</h5>
            <p class="card-site">
              <% @post.sites.each do |site| %>
                <%= link_to site.info_i18n, site.link, target: :_blank %><br>
              <% end %>
            </p>
            <% if user_signed_in? %>
              <div id="bookmark_button_<%= @post.id %>">
                <%= render "bookmarks/bookmark", post: @post %>
              </div>
            <% end %>
            <p><i class="far fa-clock"><%= time_ago_in_words(@post.created_at)+"前" %></i></p>
            <% if @post.user == current_user %>
              <td><%= link_to '編集する', edit_post_path(@post), class: "btn btn-outline-success center-block mx-3" %></td>
              <td><%= link_to "削除", post_path(@post), method: :delete, class: "btn btn-outline-danger center-block mx-3" %></td>
            <% end %>
          </div>
        </div>
        
      </div>
    </div>
  </div>
</div>