<!--　投稿詳細画面 -->

<!--<div class="text-success"><strong style="font-size: 20px;"><%#= flash[:success] %></strong></div>-->
<h4>投稿詳細</h4>
<div class="card mb-3">
  <div class="row no-gutters">
    <div class="col-md-4">
      <%= attachment_image_tag(@post, :image, size: "400x400", format: "jpeg", class:"bd-placeholder-img") %>
    </div>
    <div class="col-md-8">
      <div class="card-body">
        <h5 class="card-title">タイトル | <%= @post.title %></h5>
        <p class="card-text">コメント | <%= @post.comment %></p>
        <p class="card-text">
          <small class="text-muted">
            <% @post_tags.each do |tag| %>
              <i class="fas fa-tag"><%= link_to tag.tag_name, search_tag_path(tag_id: tag.id) %><%= "(#{tag.posts.count})" %></i>
            <% end %>
          </small>
        </p>
      </div>
    </div>
  </div>
</div>